
.body { background-color:#71706e;
		text-align:center;}
.table1{ width:620px; height:90px;}		
.table21{ width:520px; height:50px; background-color:#42999e;
	color:white; font-size:25px; font-family:tahoma,arial,times new roman;}
.table3{width:620px ; height:350px ;}	
.table31{width:220px; height:20px; }
.tanya{width:220px; height:50px; font-size:19;font-family:tahoma,arial,times new roman; }
.jawab { background-color:71706e; color:white; border:2px solid #999; height:50px; width:370px;
        font-weight:bold; font-size:19;}
.titik{ font-size:19 ;font-family:tahoma,arial,times new roman;}
.back{ width:150px; height:50px;}
.tombol{  width:150px; height:50px; background-color:pink; color:black; font-size:19px; border:2px solid black}