
body { background-color:#71706e;}
.table1{width:620px; height:90px;}	
.table2{width:1200px; height:50px; }
.a { background-color:#42999e; color:white; font-size:25px; width:600px; font-family:tahoma,arial,times new roman}
.b { background-color:#42999e; color:black; font-size:25px; width:200px; font-family:tahoma,arial,times new roman}
.c { background-color:#42999e; color:pink; font-size:25px; width:400px; font-family:tahoma,arial,times new roman}
.d { background-color:#42999e;  font-size:25px; width:400px; color:yellow; font-family:tahoma,arial,times new roman;}
.table3{ width:100px; height:280px; }
.img { width:160px; height:230px; }

		
