
body { background-color:#71706e; }
.table1{width:1020px; height:140px;}	
.table2{width:1000px; height:600px; border:2px solid black;}
.awal{ width:720px; height:40px; background-color:#42999e;
	color:white; font-size:25px; font-family:tahoma,arial,times new roman;}
.a{border:2px solid black; width:190;}
.b{border:2px solid pink; width:190;}
.table3{width:550px; height:550px;}	
.table31{ height:60px; font-size:32px; font-family:tahoma,arial,times new roman;}	
.table32{ height:210px; font-size:270px; font-family:tahoma,arial,times new roman;}			
.gambar { height:310px; font-size:250px; font-family:tahoma,arial,times new roman;}
.isi{ text-align:justify; line-height:1.7;  text-indent:50px; }
.judul2{width:250px ;height:50px; font-size:24px; font-family:tahoma,arial,times new roman;}
.table4{height:600px ; width:650px; }
.tablemenu{  font-family:Tahoma; width:150px; height:50px;  text-align:center; font-size:17px ;
		 background-color:; }
		 .tableapa{ width:210px; height:70px;  text-align:center; }
.tableapa2{  font-family:Tahoma; width:155px; height:50px; border:3px solid pink; text-align:center; font-size:17px ;
		 background-color:#42999e;  }