
body{ background-color:#71706e; }
.table{ width:500px;height:570px;  }
.table1{ width:500px; height:70px;  text-align:center; }
.table2{  font-family:Tahoma; width:155px; height:50px; border:3px solid pink; text-align:center; font-size:17px ;
		 background-color:#42999e;  }
		 
		 a,b { color:black; 
	       text-decoration:none; 
	       font-family:Tahoma; 
		}
		a:hover { text-decoration:none;
          
          border:1px dotted black; 
	  cursor:move;
	  }

		 